#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/* Mod-tap: balanced flavor for reliable Emacs/i3 modifier combos */
&mt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <150>;
};

/* Layer-tap: balanced flavor, quick-tap for double-Enter/double-Tab */
&lt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <125>;
};

/ {
    macros {
        m_scope: m_scope {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp COLON &kp COLON>;
        };

        m_arrow: m_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp MINUS &kp GT>;
        };

        m_damp: m_damp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp AMPS &kp AMPS>;
        };

        m_dslash: m_dslash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp FSLH &kp FSLH>;
        };

        m_deq: m_deq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp EQUAL &kp EQUAL>;
        };

        m_neq: m_neq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp EXCL &kp EQUAL>;
        };

        m_lteq: m_lteq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LT &kp EQUAL>;
        };

        m_gteq: m_gteq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp GT &kp EQUAL>;
        };

        m_dlt: m_dlt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LT &kp LT>;
        };

        m_dgt: m_dgt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp GT &kp GT>;
        };

        m_iexcl: m_iexcl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp RALT &kp LSHFT>, <&macro_tap &kp N1>, <&macro_release &kp LSHFT &kp RALT>;
        };

        m_iqmark: m_iqmark {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp RALT>, <&macro_tap &kp FSLH>, <&macro_release &kp RALT>;
        };

        m_newl: m_newl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp BSLH &kp N>;
        };
    };

    behaviors {
        td_semi: td_semi {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp SEMI>, <&kp COLON>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <NAV SYM>;
            then-layer = <ADJ>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
                &kp GRAVE     &kp Q  &kp W  &kp E  &kp R  &kp T      &kp Y      &kp U  &kp I      &kp O    &kp P      &kp TAB
                &mt LALT ESC  &kp A  &kp S  &kp D  &kp F  &kp G      &kp H      &kp J  &kp K      &kp L    &kp SEMI   &mt LALT SQT
                &kp LSHFT     &kp Z  &kp X  &kp C  &kp V  &kp B      &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH   &kp RSHFT
                                   &mt LGUI CAPS  &lt NAV BSPC  &kp LCTRL  &mt RCTRL RET  &lt SYM SPACE  &mt RALT DEL
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
                &m_iexcl    &kp N1          &kp N2        &kp N3        &kp N4        &kp N5            &kp N6        &kp N7      &kp N8          &kp N9        &kp N0     &kp BSPC
                &kp LGUI    &kp HOME        &kp PG_UP     &kp PG_DN     &kp END       &mkp RCLK         &mkp MCLK     &kp LEFT    &kp DOWN        &kp UP        &kp RIGHT  &kp LGUI
                &trans      &studio_unlock  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3      &bt BT_SEL 4  &bt BT_CLR  &msc SCRL_DOWN  &msc SCRL_UP  &none      &trans
                                            &trans        &trans        &trans                           &trans        &trans      &trans
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
                &m_iqmark  &kp AT    &kp HASH  &kp ASTRK  &kp AMPS   &kp EXCL      &kp QMARK  &kp UNDER  &kp PLUS   &kp DLLR  &kp PRCNT  &kp CARET
                &kp PIPE   &kp LBKT  &kp LT    &kp LBRC   &kp LPAR   &kp MINUS     &kp EQUAL  &kp RPAR   &kp RBRC   &kp GT    &kp RBKT   &kp BSLH
                &trans     &m_dslash &m_damp   &m_arrow   &m_scope   &m_dlt        &m_dgt     &m_deq     &m_lteq    &m_neq    &m_gteq    &m_newl
                                     &trans    &trans     &trans                    &trans     &trans     &trans
            >;
        };

        adj {
            display-name = "ADJ";
            bindings = <
                &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6      &kp F7  &kp F8      &kp F9        &kp F10       &kp F11    &kp F12
                &none   &none   &none   &none   &m_iexcl  &none       &none   &m_iqmark   &kp C_VOL_DN  &kp C_VOL_UP  &none      &kp CARET
                &trans  &none   &none   &none   &none     &none       &none   &kp C_PREV  &kp C_PP      &kp C_NEXT    &kp C_MUTE &trans
                                &trans  &trans  &trans                 &trans  &trans      &trans
            >;
        };

        extra_1 {
            status = "reserved";
        };

        extra_2 {
            status = "reserved";
        };

        extra_3 {
            status = "reserved";
        };
    };
};
